/* CONFIGURAÇÕES GLOBAIS */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

a,
span,
h1,
h2,
h3,
h4,
ul,
li,
form,
input,
button,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

button,
input {
  border-radius: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* HEADER  */

header .line {
  background: #117050;
  height: 10px;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO  */

.logo img {
  width: 64px;
  height: 64px;
}

.logo {
  padding: 20px 10px;
}

/* BARRA DE PESQUISA */

.header-search input {
  font-size: 1rem;
  padding: 8px 15px;
  border: 1px solid #b3b3b3;
  outline: 0;
  width: 100%;
  max-width: 250px;
  border-radius: 4px;
}

.header-search button {
  border: 0;
  background: transparent;
  margin-left: -25px;
}

.header-search button img {
  width: 16px;
  height: 16px;
}

.header-search form {
  display: flex;
}

::placeholder {
  color: #b3b3b3;
}

/* MENU LATERAL  */

.menu {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.menu-lateral {
  margin-left: 60px;
  margin-right: 20px;
  cursor: pointer;
}

.menu-lateral img {
  width: 24px;
  height: 24px;
}

/*  BANNER STARBUCKS HAPPY HOUR  */

.banner {
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 90px 0px;
  align-content: center;
}

.banner h1 {
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  line-height: 100px;
  margin-bottom: 30px;
}

.banner span {
  font-size: 1rem;
}

.banner-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.banner-img img {
  max-width: 200px;
  margin-top: 50px;
  border-radius: 50%;
  border: 4px solid #117050;
}

.banner-conteudo {
  padding: 0 20px;
}

/* AREA1 DRINQUES  */

.area1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area1-img1 {
  background-image: url(../img/f1.png);
  background-position: center;
  background-size: cover;
  grid-row: span 2;
}

.area1-img2 {
  background-image: url(../img/f2.png);
  height: 400px;
  background-position: center;
  background-size: cover;
}

.area1-conteudo {
  padding: 80px;
}

.area1-detalhe {
  width: 150px;
  height: 20px;
  background: #117050;
  margin-bottom: 10px;
  border-radius: 2px;
}

.area1-conteudo h1 {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  line-height: 50px;
}

.area1-conteudo blockquote p {
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 30px;
}

.area1-conteudo a {
  border: 2px solid #117050;
  max-width: max-content;
  padding: 10px 40px;
  border-radius: 4px;
  color: #117050;
  text-transform: uppercase;
  margin-top: 30px;
}

.area1-conteudo a:hover {
  background: #117050;
  color: #fff;
}

/* AREA2 VANILLA SWEET  */

.area2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area2-img1 {
  background-image: url(../img/f3.png);
  background-position: center;
  background-size: cover;
  grid-row: 1 / 3;
}

.area2-img2 {
  background-image: url(../img/f4.png);
  height: 560px;
  background-position: center;
  background-size: cover;
}

.area2-conteudo {
  padding: 80px;
  grid-column: 2 / 3;
}

.area2-detalhe {
  width: 150px;
  height: 20px;
  background: #117050;
  margin-bottom: 10px;
  border-radius: 2px;
}

.area2-conteudo h1 {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  line-height: 50px;
  margin-bottom: 30px;
}

.area2-conteudo a {
  border: 2px solid #117050;
  max-width: max-content;
  padding: 10px 40px;
  border-radius: 4px;
  color: #117050;
  text-transform: uppercase;
  margin-top: 30px;
}

.area2-conteudo a:hover {
  background: #117050;
  color: #fff;
}

/* AREA3 FRAPPUCCINO */

.area3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area3-img1 {
  background-image: url(../img/f5.jpg);
  background-size: cover;
  height: 660px;
}

.area3-conteudo {
  padding: 80px;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url(../img/bg2.jpg);
  background-size: cover;
  justify-content: center;
}

.area3-detalhe {
  width: 150px;
  height: 20px;
  background: #117050;
  margin-bottom: 10px;
  border-radius: 2px;
}

.area3-conteudo h1 {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  line-height: 50px;
  margin-bottom: 30px;
}

.area3-conteudo a {
  border: 2px solid #117050;
  max-width: max-content;
  padding: 10px 40px;
  border-radius: 4px;
  color: #117050;
  text-transform: uppercase;
  margin-top: 30px;
}

.area3-conteudo a:hover {
  background: #117050;
  color: #fff;
}

/* AREA4 GENTILEZA */

.area4 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: #ebedf1;
}

.area4-img {
  background-image: url(../img/bg3.png);
  background-size: cover;
  background-position: center;
}

.area4-conteudo {
  padding: 80px;
}

.area4 h1 {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  line-height: 50px;
  margin-bottom: 30px;
}

.area4-detalhe {
  width: 150px;
  height: 20px;
  background: #117050;
  margin-bottom: 10px;
  border-radius: 2px;
}

.area4 a {
  border: 2px solid #117050;
  max-width: max-content;
  padding: 10px 40px;
  border-radius: 4px;
  color: #117050;
  text-transform: uppercase;
  margin-top: 30px;
}

.area4 a:hover {
  background: #117050;
  color: #fff;
}

/* FOOTER  */

.footer {
  background: #333333;
}

.footer-conteudo {
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 70px 20px;
  color: #fff;
  text-align: center;
}

/* RESPONSIVIDADE MOBILE */

@media (max-width: 1100px) {
  .area4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .area1 {
    grid-template-columns: 3fr 2fr;
  }

  .area1-conteudo,
  .area2-conteudo,
  .area3-conteudo,
  .area4-conteudo {
    padding: 60px;
  }

  .footer-conteudo {
    padding: 40px;
  }

  .area2 {
    grid-template-columns: 2fr 3fr;
  }

  .area2-img2 {
    height: 300px;
  }

  .area3 {
    grid-template-columns: 3fr 2fr;
  }

  .area4 {
    grid-template-columns: 3fr 2fr;
  }
}

@media (max-width: 600px) {
  .banner-conteudo h1 {
    font-size: 5rem;
  }

  .banner-conteudo span {
    display: block;
    width: 50ch;
  }

  .area1 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "area1-conteudo"
      "area1-img2"
      "area1-img1";
  }

  .area1-conteudo {
    grid-area: area1-conteudo;
  }

  .area1-img1 {
    grid-area: area1-img1;
  }

  .area1-img2 {
    grid-area: area1-img2;
  }

  .area1-img1 {
    height: 450px;
  }

  .area2 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "area2-conteudo"
      "area2-img1"
      "area2-img2";
  }

  .area2-conteudo {
    grid-area: area2-conteudo;
  }
  .area2-img1 {
    grid-area: area2-img1;
    display: none;
  }

  .area2-img2 {
    grid-area: area2-img2;
    height: 450px;
  }

  .area3 {
    grid-template-columns: 1fr;
  }

  .area4 {
    grid-template-columns: 1fr;
  }

  .area4-img {
    height: 400px;
  }
}

@media (max-width: 480px) {
  .banner-conteudo h1 {
    font-size: 3.75rem;
    line-height: 70px;
  }

  .banner-conteudo span {
    display: block;
    width: 30ch;
  }

  .banner-img img {
    max-width: 110px;
    max-height: 110px;
    margin: 0;
  }

  .banner-conteudo span {
    margin-bottom: 40px;
  }

  .menu-lateral {
    margin-left: 30px;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }
}
